<div class="welcome">
  <div class="welcome-page discounts">
  <%= image_tag "discounts.jpg" %>


  </div>


  <div class="welcome-page index">
    okej
  </div>


  <div class="welcome-page topselling">
    tko
  </div>
</div>