<div class="cart-all">
  <% if order_products.blank? %>
    <div class="cart-text-empty">
      There are no items in your shopping cart.
    </div>
  <% else %>
      <div  class="shopping-cart-products">
    <% order_products.each do |order_item| %>
      <%= render 'carts/cart_row', product: order_item.product, order_product: order_item, show_total: true %>
    <% end %>
      </div>
      <div class="shopping-cart-footer">
        <div class="shopping-cart-total">
          <span class="lighter-text">Total:</span>
          <span style="color: green; font-weight:bold"> <%= number_to_currency current_order.total %></span>
        </div>
        <br>
        <div class="shopping-cart-checkout">
        <%= button_to 'Checkout', new_order_path, method: :get, class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>

</div>
