@import "bootstrap";
@import "bootstrap-sprockets";

$main-color: #6394F8;
$light-text: #9bb0be;

html {
  position:relative;
  min-height:100%;
}

body {
  background-color: #e4e7f8;
  margin: 0 0 3em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.navbar {
  background-color: #ffffff;
  position: fixed;
  z-index: 50;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .navbar-form.search {
    float: right;
    margin-left: 1em;
  }

  ul {
    li {
      display: inline;
      padding-left: 20px;
      a {
        color: #777777;
        text-decoration: none;

        &:hover {
          color: black;
        }
      }
    }
  }
}


.body-container {
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  width: 90%;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.1em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}


#shopping-cart {
  margin: 5px 0;
  right: 5%;
  top: 6%;
  display: none;
  overflow-y: auto;
  position: fixed;
  z-index: 100;
  border: 1px solid #b9bff8;
  width: 400px;
  max-height: 60%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #e7eafb;


  .shopping-cart-products {
    font-size: 14px;


    .cart-product {
      background: white;
      border-radius: 10px;
      width: 90%;
      display: table;
      margin: 20px;
      .cart-image {
        float: left;
        border-radius: 8px;
        height: 90px;
        width: 90px;

        img {
          top: 50%;
          transform: translateY(-50%);
          position: relative;
          height: auto;
          max-height: 80px;
          display: block;
          margin: auto;
        }
      }

      .cart-details {
        float: left;
        margin-left: 1em;
      }

    }
  }

  .cart-all {
    .cart-text-empty{
      text-align: center;
      margin-top: 2em;
      min-height: 60px;
    }
    .shopping-cart-footer {

      .shopping-cart-checkout {
        float: right;
        margin-bottom: 10px;
        margin-right: 10px;
      }
      .shopping-cart-total {
        margin-right: 10px;
        float: right;
      }
    }
  }
}


/*flash*/
.alert-error {
  width: 60%;
  margin:auto;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.alert-alert {
  width: 60%;
  margin:auto;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.alert-success {
  width: 60%;
  margin:auto;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

.alert-notice {
  width: 60%;
  margin:auto;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}



footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 3em;
  width: 100%;
  background: white;

  .footer-text {
    color: gray;
    font-weight: bold;
    font-size: 15px;
    margin-top: 1em;
    position: relative;
    float: left;
    width: 33%;
    text-align: center;
  }

  .footer-text:hover {
    color: gray;
  }
}

.about-page {
  background: white;
  padding: 2em;
  border-radius: 2em;
  font-size: 16px;

  .about-title {
  font-weight: bold;
  font-size: 20px;
  }

  .about-content {
    padding: 2em;
  }

  .about-footer{
    float: right;
  }
}
