.devise-register {
  text-align: center;
  background: white;
  width: 50%;
  border-radius: 2em;
  padding: 1em;
  display: block;
  margin: auto;
}

.field {
  padding: 0.5em;

  .devise-label {

  }
  .devise-field {
    width: 60%;
    margin: auto;
  }
}


