<div class="review">
  <div>
    <span>
      <%= review.order_product.order.user.first_name %> <%= review.order_product.order.user.last_name[0] %>.
    </span>
  </div>

  <% for i in 1..review.rating %>
      <span class="star-rating-checked" > </span>
  <% end %>
  <% for i in 1..5-review.rating %>
      <span class="star-rating-unchecked" > </span>
  <% end %>

  <div class="review-content">
    <%= review.content %>
  </div>


</div>